body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 10px;
    margin: 0;
}

h1 {
    margin: 0;
}

#playerText {
    display: none;
    font-size: 1.2rem;
    gap: 100px;
    color: white;
    font-weight: 600;
}

#playerText>* {
    background-color: blue;
    padding: 8px 16px;
    border-radius: 8px;
}

#player-inputs {
    display: flex;
    gap: 20px;
}

#player-inputs input {
    height: 1.5rem;
    font-size: 1.2rem;
    padding: 4px 8px;
    border-radius: 0.75rem;
    border: 0.5px solid black;
}

/* buttons */
#start-btn, #restart-btn {
    font-size: 1.2rem;
    font-weight: 700;
    padding: 8px 16px;
    background-color: rgb(16, 107, 16);
    color: white;
    border: none;
    border-radius: 0.75rem;
}

#start-btn:hover, #restart-btn:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: green;
}

#restart-btn {
    display: none;
    background-color: rgb(182, 35, 30);
}

#restart-btn:hover {
    background-color: rgb(243, 78, 78);
}

/* game board */
#gameboard {
    display: none;
    grid-template-columns: repeat(3, 100px); 
    grid-template-rows: repeat(3, 100px);    
    gap: 5px; 
    width: max-content;
    background-color: #333; 
    padding: 5px;
    border-radius: 10px;
}

.cell {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.cell:hover {
    background-color: #f0f0f0;
}

.cell {
    user-select: none;
}
